@charset "UTF-8";
/* 　 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, src/client/scss/component/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, src/client/scss/component/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, src/client/scss/component/_reset.scss */
body {
  line-height: 1;
}

/* line 34, src/client/scss/component/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, src/client/scss/component/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, src/client/scss/component/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, src/client/scss/component/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @font-face {
	font-family: 'Noto Sans Japanese';
	font-style: normal;
	font-weight: 100;
	src: local('Noto Sans Japanese'),
			url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2) format('woff2'),
			url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff) format('woff'),
			url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans Japanese';
	font-style: bold;
	font-weight: 400;
	src: local('Noto Sans Japanese'),
			url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
			url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
			url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
} */
/* line 21, src/client/scss/component/_common.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  position: relative;
}

/* line 37, src/client/scss/component/_common.scss */
html, body {
  font-weight: 100;
  font-size: 12pt;
  line-height: 1.4;
  color: #111;
  margin: 0;
  padding: 0;
}

/* line 47, src/client/scss/component/_common.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 50, src/client/scss/component/_common.scss */
a:hover {
  text-decoration: underline;
}

/* line 54, src/client/scss/component/_common.scss */
table {
  display: block;
  width: auto;
}

/* line 59, src/client/scss/component/_common.scss */
.body-wrapper .content {
  z-index: 1;
  padding-top: 56px;
}

@media only screen and (min-width: 601px) {
  /* line 66, src/client/scss/component/_common.scss */
  .body-wrapper .content {
    z-index: 1;
    padding-top: 64px;
  }
}

/* line 1, src/client/scss/component/_globalmenu.scss */
.globalmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

/* line 8, src/client/scss/component/_globalmenu.scss */
.globalmenu .nav-wrapper .brand-logo {
  font-size: 28px;
  width: 100%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 15, src/client/scss/component/_globalmenu.scss */
.globalmenu .nav-wrapper a:hover {
  text-decoration: none;
}

/* line 1, src/client/scss/component/_app.scss */
.app {
  display: block;
  position: relative;
}

/* line 4, src/client/scss/component/_app.scss */
.app .app-inner {
  padding-bottom: 90px;
}

/* line 6, src/client/scss/component/_app.scss */
.app .app-inner.has-alert {
  padding-top: 44px;
}

/* line 11, src/client/scss/component/_app.scss */
.app_head-alert {
  position: fixed;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  z-index: 10000;
}

/* line 18, src/client/scss/component/_app.scss */
.app_head-alert .material-icons {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* line 24, src/client/scss/component/_app.scss */
.app-route {
  display: none;
  width: 100%;
  transition: transform 0.5s;
  position: absolute;
  top: 0;
  background: #fff;
}

/* line 32, src/client/scss/component/_app.scss */
.app-route_active {
  display: block;
}

/* line 35, src/client/scss/component/_app.scss */
.app-route_prev {
  display: block;
  transform: translateX(-100%);
}

/* line 39, src/client/scss/component/_app.scss */
.app-route_next {
  display: block;
  transform: translateX(100%);
}

/* IndexPage */
/* line 3, src/client/scss/content/_index.scss */
.body-wrapper .content.index {
  height: 100%;
  padding-top: 0;
  background: #f5f5f5;
}

/* Medical */
/* line 1, src/client/scss/route/medical/_medical-deduction.scss */
.medical-deduction-way {
  text-align: center;
  padding: 40px;
}

/* line 4, src/client/scss/route/medical/_medical-deduction.scss */
.medical-deduction-way h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 7, src/client/scss/route/medical/_medical-deduction.scss */
.medical-deduction-way h2.has-desc {
  margin-bottom: 5px;
}

/* line 11, src/client/scss/route/medical/_medical-deduction.scss */
.medical-deduction-way p {
  color: #777;
  font-size: 85%;
  margin-bottom: 15px;
}

/* line 17, src/client/scss/route/medical/_medical-deduction.scss */
.way-list {
  margin-bottom: 40px;
}

/* line 20, src/client/scss/route/medical/_medical-deduction.scss */
.way-list__button {
  width: 100%;
  line-height: 24px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* line 27, src/client/scss/route/medical/_medical-deduction.scss */
.way-list__button:first-child {
  border-top: 1px solid #ccc;
}

/* line 30, src/client/scss/route/medical/_medical-deduction.scss */
.way-list__button .material-icons {
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin: 0 2px;
}

/* line 39, src/client/scss/route/medical/_medical-deduction.scss */
.link-area a .material-icons {
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin: 0 2px;
}

/* line 1, src/client/scss/route/medical/_recepts-new.scss */
select {
  display: block;
  border: 1px solid #9e9e9e;
}

/* line 5, src/client/scss/route/medical/_recepts-new.scss */
.recepts-form-new {
  padding: 40px;
}

/* line 7, src/client/scss/route/medical/_recepts-new.scss */
.recepts-form-new h2 {
  margin-bottom: 5px;
}

/* line 11, src/client/scss/route/medical/_recepts-new.scss */
.recepts-form-item {
  margin-bottom: 30px;
}

/* line 14, src/client/scss/route/medical/_recepts-new.scss */
.recepts-form__button_camera {
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

/* line 21, src/client/scss/route/medical/_recepts-new.scss */
.recepts-form__button_camera .material-icons {
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

/* line 28, src/client/scss/route/medical/_recepts-new.scss */
.recepts-form__button_date {
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

/* line 35, src/client/scss/route/medical/_recepts-new.scss */
.recepts-form__button_date .material-icons {
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

/* line 42, src/client/scss/route/medical/_recepts-new.scss */
.recepts-form__button_submit {
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-align: center;
}

/* line 1, src/client/scss/route/medical/_recepts.scss */
.recept-summary {
  height: 300px;
  position: relative;
  text-align: center;
  padding-top: 110px;
}

/* line 7, src/client/scss/route/medical/_recepts.scss */
.recept-summary__pie {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 240px;
  border: 10px solid #3f51b5;
}

/* line 17, src/client/scss/route/medical/_recepts.scss */
.recept-summary__num {
  font-size: 150%;
}

/* line 20, src/client/scss/route/medical/_recepts.scss */
.recept-summary__num-title {
  margin-bottom: 5px;
}

/* line 23, src/client/scss/route/medical/_recepts.scss */
.table-app_add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* line 28, src/client/scss/route/medical/_recepts.scss */
.recept-table__item:first-child {
  border-top: 1px solid #ddd;
}

/* line 31, src/client/scss/route/medical/_recepts.scss */
.recept-table__item {
  border-bottom: 1px solid #ddd;
}

/* line 34, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-inner {
  display: flex;
  padding: 20px;
}

/* line 38, src/client/scss/route/medical/_recepts.scss */
.recept-table__col-data {
  width: 70%;
  padding-right: 10px;
}

/* line 41, src/client/scss/route/medical/_recepts.scss */
.recept-table__col-data > div {
  margin-bottom: 2px;
}

/* line 43, src/client/scss/route/medical/_recepts.scss */
.recept-table__col-data > div:last-child {
  margin-bottom: 0;
}

/* line 48, src/client/scss/route/medical/_recepts.scss */
.recept-table__col-price {
  max-width: 30%;
  min-width: 30%;
  width: 30%;
  text-align: right;
  font-size: 100%;
}

/* line 55, src/client/scss/route/medical/_recepts.scss */
.recept-table__row-hospital {
  font-size: 100%;
}

/* line 58, src/client/scss/route/medical/_recepts.scss */
.recept-table__row-date-cat {
  color: #777;
  font-size: 65%;
}

/* line 62, src/client/scss/route/medical/_recepts.scss */
.recept-table__row-person {
  font-size: 65%;
  color: #777;
}

/* line 66, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-edit {
  transition: height 0.25s;
  height: 0;
  overflow: hidden;
}

/* line 71, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-edit-inner {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

/* line 76, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-edit-col {
  width: calc(100% / 3 - 20px);
  height: 24px;
  line-height: 24px;
  color: #777;
  text-align: center;
  font-size: 70%;
}

/* line 83, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-edit-col .material-icons {
  position: relative;
  font-size: 16px;
  top: -1px;
  margin-right: 2px;
}

/* line 90, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-edit_open {
  height: 44px;
}

/* line 93, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-edit-button {
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 100%;
  text-align: center;
  height: 24px;
  line-height: 22px;
}

/* line 100, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-edit-button.recept-table__item-edit-button_delete {
  border: 1px solid #e53935;
}

/* line 103, src/client/scss/route/medical/_recepts.scss */
.recept-table__item-edit-button > * {
  vertical-align: middle;
}
